html, body {
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh; 

}

html {
    background: black;
}

/* https://github.com/reactjs/react-transition-group/tree/v1-stable */
.example-appear {
    opacity: 0.01;
}
  
.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.profile-picture {
    border-radius: 10px;
}

img{
    box-shadow: 4px 5px 10px #888888;
    max-width:95%;
    height:auto;
}

.projects {
    display: block;
    justify-content: space-around;
    background-color: rgba(105, 110, 147, 0.5);
    width: 48%;
    box-shadow: 4px 5px 10px #888888;
    color: white;
    border-radius: 10px;
}

.about-me, .contact{
    justify-content: space-around;
    background-color: rgba(105, 110, 147, 0.5);
    width: 100%;
    box-shadow: 4px 5px 10px #888888;
    color: white;
    border-radius: 10px;
}

.skill-list{
    column-count: 3;
    list-style: none;

}

.links {
    width: 80%;
    background-color: black;
    overflow: auto;   
    color: white;
    border-radius: 10px;
    box-shadow: 4px 5px 10px #888888;

}

.nav-list{
    list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li:hover {
    color: #8F5481;
}

.project-grid {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 80%;
}