/* space-mono-regular - latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/space-mono-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Space Mono'), local('SpaceMono-Regular'),
         url('../../fonts/space-mono-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../fonts/space-mono-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/space-mono-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../fonts/space-mono-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/space-mono-v5-latin-regular.svg#SpaceMono') format('svg'); /* Legacy iOS */
  }

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono'
}
body{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 101vh; 

}

html {
    background: black;
}

/* https://github.com/reactjs/react-transition-group/tree/v1-stable */
.example-appear {
    opacity: 0.01;
}
  
.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.profile-picture {
    border-radius: 10px;
}

img{
    box-shadow: 4px 5px 10px #888888;
    max-width:95%;
    height:auto;
}

.about-me-info{
    margin: 10px;
}

.projects {
    display: block;
    justify-content: space-around;
    background-color: rgba(105, 110, 147, 0.5);
    width: 48%;
    box-shadow: 4px 5px 10px #888888;
    color: white;
    border-radius: 10px;
}

.project-grid {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 80%;
}

.about-me, .contact{
    justify-content: space-around;
    background-color: rgba(105, 110, 147, 0.5);
    width: 100%;
    box-shadow: 4px 5px 10px #888888;
    color: white;
    border-radius: 10px;
}

.skill-list{
    column-count: 3;
    list-style: none;

}

.links {
    width: 80%;
    background-color: black;
    overflow: auto;   
    color: white;
    border-radius: 10px;
    box-shadow: 4px 5px 10px #888888;

}

.nav-list{
    list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav-link:hover {
    color: #8F5481;
}



.email-me{
    background-color: #b6c5d1;
    border-radius: 10px;
    border-color: black;
    color: black;
    height: 50px;
    width: 100px;
    outline:0;
    cursor: pointer;
    padding: 10px;
}

.email-me:hover{
    background-color: #606970;
    border-radius: 10px;
    border-color: black;
    color: black;
    height: 50px;
    width: 100px;
    outline:0;
    cursor: pointer;
    padding: 10px;
}