html, body {
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../Home/background.jpg');
    background-size: contain;
    
}

html {
    background: black;
}

/* https://github.com/reactjs/react-transition-group/tree/v1-stable */
.example-appear {
    opacity: 0.01;
}
  
.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.profile-picture {
    border-radius: 5%;
}

img{
    box-shadow: 4px 5px 10px #888888;
    max-width:100%;
    height:auto;
}

.projects {
    display: flex;
    justify-content: space-around;
    background-color: #72ccec;
    width: 75%;
    box-shadow: 4px 5px 10px #888888;

}

.links {
    justify-content: space-around;
    width: 75%;

}

.solo-project, .feedback-project{
    padding: 10px;
}

label {
    padding: 5px;
}