header {
    background-color: black;
    overflow: auto;   
    color: white;
    /* border-bottom-style: inherit; */
    /* background: radial-gradient(#aed9e8, #eaf5f9); */
    /* box-shadow: 0px 5px 10px #2c2c2c; */
}